
<% title("Home Page") %>
asdasdasdasdasdasda
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
<h1><i class="fa fa-home"></i> Home Page <small>views/pages/home.html.erb</small></h1>
